astroid==2.6.5
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
cycler==0.10.0
decorator==5.0.9
distlib==0.3.2
filelock==3.0.12
h5py==3.3.0
iniconfig==1.1.1
ipdb==0.13.9
ipython==7.24.1
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
numpy==1.20.3
packaging==21.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pip==21.1.1
platformdirs==2.0.2
pluggy==0.13.1
prompt-toolkit==3.0.17
ptyprocess==0.7.0
py==1.10.0
Pygments==2.9.0
pylint==2.9.5
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.2
scipy==1.6.2
setuptools==52.0.0
six==1.16.0
toml==0.10.2
tox==3.24.0
traitlets==5.0.5
virtualenv==20.6.0
wcwidth==0.2.5
wheel==0.36.2
wrapt==1.12.1
